div(ng-include='"components/navbar/navbar.html"')
form.form-horizontal(role="form", novalidate)
	.container
		.row
			.col-lg-12.text-center.vertical-spacer
				h1 Whoa! Bounce created!
				
		.row
			.col-lg-12.text-center
				h3 Bounce #[strong "{{topic}}"] will be sent to you on
				h3 #[strong {{moment}}]
				