div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.col-xs-12
			h1.page-header Get in touch
			h3 Drop an email to #[a(href="mailto:bouncer.email.app@gmail.com") bouncer.email.app@gmail.com] 
			p Have you encountered problems or do you have a feature request? Don't hesitate to contact us as we are here to help you. Just send us email and we will likely be in touch.

