div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Bouncer
    p.lead Thou shalt not forget!
    

.container
  .row
    .col-sm-12
      h1.page-header Features:
  .row
    .col-sm-12.list-group
        li.list-group-item
          strong Cross platform and device independent
          p Bouncer works with any web browser and email client. Bouncer is not coupled to your device.
        li.list-group-item
          strong Non annoying
          p Bouncer will send one email reminder after which no new notifications are sent unless you decide to defer the bounce. Take care of the reminder in your inbox when you have the time.
        li.list-group-item
          strong No user account needed
          p You get 100% of the features without creating user account
        li.list-group-item
          strong Free
          p Sure
